<div aria-label="Page navigation" class="d-flex justify-content-center">
    <ul class="pagination">
        {% if paginator.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ paginator.previous_page_number }}"
                   aria-label="Previous">
                    <i class="bi bi-chevron-left"></i> <!-- Left Arrow -->
                </a>
            </li>
        {% endif %}
        {% for i in paginator.paginator.page_range %}
            {% if paginator.number == i %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ i }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if paginator.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ paginator.next_page_number }}"
                   aria-label="Next">
                    <i class="bi bi-chevron-right"></i> <!-- Right Arrow -->
                </a>
            </li>
        {% endif %}
    </ul>
</div>