{% extends "layout.html" %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    <h1 class="mt-3">
        Reservation: {{ reservation.code }}
        <br>
        <small>{{ reservation.created_at|date:'Y-m-d H:i:s' }}</small>
    </h1>
    <div class="card" id="reservation">
        <div class="row g-0 align-items-center">
            <div class="col-lg-1 col-md-2 order-md-2 p-2 text-center">
                <img src="{{ reservation.book.pic.url }}"
                     class="img-fluid rounded"
                     alt="{{ reservation.book | title }}"
                     height="auto"
                     width="auto" />
            </div>
            <div class="col-lg-11 col-md-10 order-md-1">
                <div class="card-body">
                    <h5 class="card-title">{{ reservation.book | title }}</h5>
                    <hr>
                    <p class="card-text">
                        Booked By: {{ reservation.user.first_name }} {{ reservation.user.last_name }} ({{ reservation.user.email }})
                    </p>
                    <p class="card-text">
                        {% if reservation.get_status_display == 'Pending' %}
                            <span class="badge text-bg-secondary">{{ reservation.get_status_display }}</span>
                        {% elif reservation.get_status_display == 'Rejected' or reservation.get_status_display == 'Canceled' %}
                            <span class="badge text-bg-danger">{{ reservation.get_status_display }}</span>
                        {% elif reservation.get_status_display == 'Picked' %}
                            <span class="badge text-bg-success">{{ reservation.get_status_display }} : until {{ reservation.until_at|date:'Y-m-d' }}</span>
                        {% else %}
                            <span class="badge text-bg-success">{{ reservation.get_status_display }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% if reservation.get_status_display == 'Pending' or reservation.get_status_display == 'Picked' %}
            <div class="d-flex justify-content-end gap-10 p-2">
                <form action="{% url 'dashboard_reservation_action' code=reservation.code %}"
                      method="post"
                      class="justify-content-end gap-10 p-2">
                    {% csrf_token %}
                    {% if reservation.get_status_display == 'Picked' %}
                        <button type="submit"
                                name="submit"
                                value="return"
                                class="btn btn-outline-success">Return</button>
                    {% elif reservation.get_status_display == 'Pending' %}
                        <label for="days" class="form-label">
                            Days:
                            <select class="form-select d-inline-block" name="days" id="days" required>
                                <option selected value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </label>
                        <button type="submit" name="submit" value="pick-up" class="btn btn-success">Pick up</button>
                        <button type="submit" name="submit" value="cancel" class="btn btn-danger">Cancel</button>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>
{% endblock content %}
