{% extends "layout.html" %}
{% block title %}
    Login/Register
{% endblock title %}
{% block content %}
    <h1>Login/Register</h1>
    <div class="row mt-5">
        {% csrf_token %}
        <form action="{% url 'login_register' %}"
              method="post"
              id="login"
              class="col-xl-6 col-lg-12 form">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{ login_form.username_email }}
                {{ login_form.username_email.label_tag }}
            </div>
            <div class="form-floating mb-3">
                {{ login_form.password }}
                {{ login_form.password.label_tag }}
            </div>
            <div class="form-check mb-3">
                {{ login_form.remember_me }}
                <label for="{{ login_form.remember_me.auto_id }}" class="form-check-label">{{ login_form.remember_me.label }}</label>
            </div>
            <button type="submit" name="login" class="btn btn-primary w-100">Login</button>
        </form>
        <form action="{% url 'login_register' %}"
              method="post"
              id="register"
              class="col-xl-6 col-lg-12 form mt-5 mt-xl-0">
            {% csrf_token %}
            {% for field in reg_form %}
                <div class="form-floating mb-3">
                    {{ field }}
                    {{ field.label_tag }}
                </div>
            {% endfor %}
            <button type="submit" name="register" class="btn btn-primary w-100">Register</button>
        </form>
    </div>
{% endblock content %}
